.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-left: 20px;
    padding-right: 100px;
  }
  
  .logout {
    cursor: pointer;
  }
  
  