.internship {
    text-align: center;
  }
  
  .whole {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 220px; 
  }
  
  .container p {
    margin: 8px 0;
  }
  
  .container img {
    /* max-width: 100%; */
    margin-top: 10px;
    height: auto;
    width: 160px;
    height: 50px;
    object-fit: cover;
  }
  
  .container button {
    margin-top: 8px;
    padding: 8px;
    background-color: #152B6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -6px;
  }
  
  .container button:disabled {
    background-color: #808080;
    cursor: not-allowed;
  }

.coins p{
    color: red;
    margin-left: 1000px;
}
  